result
result-*
.cache/
.buckconfig.local
bazel-*
buck-out/
.jj/
third_party/openssh/src
third_party/libssh2/src
third_party/nixpkgs/openssl
third_party/nixpkgs/zlib
third_party/nixpkgs/libxcrypt
third_party/nixpkgs/darwin-libresolv
