result
result-*
.cache/
.buckconfig.local
bazel-*
buck-out/
.jj/
third_party/openssh/src
third_party/libssh2/src
third_party/nix/openssl
third_party/nix/zlib
third_party/nix/libxcrypt
third_party/nix/darwin-libresolv
